html, body {
  
    background-color: #8496C4;
    height: 100%;
}

.container {
    text-align: center; 
}

.container h1 {
    font-family: Arial, sans-serif;
    color: #F7F7F7;
    margin-top: 3.8rem;
}

.container input{
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 0.5rem;
    padding: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.container button {
   margin-top: .7rem;
}

.container p {
    margin: 100px;
}

.message {
    font-family: Arial, sans-serif;
    color: #ff0033;
    max-width: 500px;
    margin: auto;

}

.section {
    background-color: #071846;
    height: 100vh;
   
}

h3 {
    color: white;
}

